<header>
    <table>
        <tr>
            <td><img src="img/angular.svg"/></td>
            <td><h1>{{ titleHead }}</h1></td>
        </tr>
    </table>
    <div><h1>{{ title }}</h1></div>
    <div>
        {{test}}
        <a href="logout">Выйти</a>
    </div>
</header>
<div class="btn-group-center btn-group btn-group-justified">
    <button *ngIf="isGuest" (click)="onShowUserMenu()">Пользователи</button>
    <button *ngIf="isGuest" (click)="onShowRoomsMenu()">Номера</button>
    <button *ngIf="isGuest" (click)="onShowCategoryMenu()">Категория номера</button>
    <button *ngIf="isGuest" (click)="onShowConditionMenu()">Состояние номера</button>
    <button *ngIf="isGuest" (click)="onShowHousingMenu()">Корпус</button>
    <button *ngIf="isAdmin" (click)="onShowCustomersMenu()">Клиенты</button>
</div>
<main>
    <users *ngIf="userMenu"></users>
    <category *ngIf="categoryMenu"></category>
    <condition *ngIf="conditionMenu"></condition>
    <customers *ngIf="customersMenu"></customers>
    <housing *ngIf="housingMenu"></housing>
    <rooms *ngIf="roomsMenu"></rooms>
</main>
