<form class="todo-form" (ngSubmit)="onSubmit(); roomsForm.reset()" #roomsForm="ngForm">
    <div>
        <table>
            <tr>
                <td>
                    <label>Номер</label>
                </td>
                <td>
                    <input type="text" name="name" [(ngModel)]="name" placeholder="Номер" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Категория</label>
                </td>
                <td>
                    <select [(ngModel)]="categoryRoom" name="category">
                        <option *ngFor="let category of categorys" [ngValue]="category">{{category.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Состояние</label>
                </td>
                <td>
                    <select [(ngModel)]="conditionRoom" name="condition" >
                        <option *ngFor="let condition of conditions" [ngValue]="condition">{{condition.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Корпус</label>
                </td>
                <td>
                    <select [(ngModel)]="housing" name="housing">
                        <option *ngFor="let housing of housings" [ngValue]="housing">{{housing.name}}</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div style="flex-direction: column;display: flex;">
        <button type="submit" [disabled]="roomsForm.form.invalid">Добавить</button>
        <button *ngIf="room" type="reset" (click)="onReset(); roomsForm.reset()">Отмена</button>
    </div>
</form>