<form class="todo-form  navbar  navbar-fixed-bottom"  (ngSubmit)="onSubmit(); userForm.reset()" #userForm="ngForm">

    <div class="col-sm-6" >
        <div class="row">
            <label class="col-sm-3">Логин:</label>
            <input class="col-sm-4 " type="text" name="login"  [(ngModel)]="login"
                   required>
        </div>
        <div class="row">
            <label class="col-sm-3">Пароль:</label>
            <input class="col-sm-4" type="text" name="password"
                   [(ngModel)]="password" required>
        </div>
        <div class="row">
            <label class="col-sm-3">Эл. почта:</label>
            <input class="col-sm-4" type="email" name="email"  [(ngModel)]="email"
                   required>
        </div>
    </div>

    <div class="form-group col-sm-3" >
        <button type="submit" [disabled]="userForm.form.invalid">Добавить</button>
        <button *ngIf="user" type="reset" (click)="onReset(); userForm.reset()">Отмена</button>
    </div>
</form>