<div *ngIf="users.length" class="panel panel-primary">
    <div class="panel-heading">
        <!--<div class="panel-title">-->
        <div style="text-align: center">
            <span><label>Поиск по:</label></span>
            <span><input class="input-sm" type="text" name="filterValue" [(ngModel)]="filterValue"></span>
        <span><select class="input-sm" [(ngModel)]="fieldUsers">
            <option *ngFor="let field of fieldUser" value="{{field.value}}">{{field.name}}</option>
        </select></span>
        </div>
        <!--</div>-->
    </div>
    <user-item *ngFor="let user of users | myfilter : fieldUsers : filterValue" [user]="user"
               (delete)="onDelete($event)" (update)="onUpdate($event)"></user-item>
</div>