<div class="todo-list" *ngIf="categorys.length">
    <div class="search-list">
        <div>Поиск по:</div>
        <select [(ngModel)]="fieldCategorys">
            <option *ngFor="let field of fieldCategory"  value="{{field.value}}">{{field.name}}</option>
        </select>
        <input type="text" name="filterValue" [(ngModel)]="filterValue">
    </div>
    <category-item *ngFor="let category of categorys| myfilter : fieldCategorys : filterValue" [category]="category"
                   (delete)="onDelete($event)" (update)="onUpdate($event)"></category-item>
</div>