<div class="todo-item">
    <div class="actions">
        <button class="build icon" (click)="onUpdate()">
            <i class="material-icons">build</i>
        </button>
    </div>
    <div class="big">
        <table>
            <tr>
                <td>Корпус:</td>
                <td>{{housing.name}}</td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <button class="delete icon" (click)="onDelete()">
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>