<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.3.9/angular.js"></script>
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <script type="text/javascript">
        var myApp = angular.module('myApp', []);
        myApp.controller('authController', function ($scope, $http) {
            $scope.playReg = function (user) {
                $http.post("/artezio/users", user).then(function success(response) {
                    $scope.response = response.data;
                    if ($scope.response.success) {
                        alert("Сохранено");
                        location.href = "/artezio/login.html";
                    } else {
                        alert($scope.response.errorMessage);
                    }
                });
            }
        });
    </script>
</head>
<body ng-controller="authController">
<form class="form-signin" name="regForm">
    <div class="form-group" ng-class="{'has-error' : regForm.login. $invalid}">
        <label>Логин</label>
        <input type="login" name="login" class="form-control" ng-model="user.login" ng-minlength="5">

        <p class="help-block" ng-show="regForm.login. $invalid">Логин должен сожержать минимум 5 симовлов</p>
    </div>

    <div class="form-group" ng-class="{'has-error' : regForm.password. $invalid}">
        <label>Пароль</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="5">

        <p class="help-block" ng-show="regForm.password. $invalid">Пароль должен сожержать минимум 5 симовлов</p>
    </div>

    <div class="form-group" ng-class="{'has-error' : regForm.email. $invalid}">
        <label>Эл.почта</label>
        <input type="email" name="email" class="form-control" ng-model="user.email">
    </div>

    <button ng-click="playReg(user)" type="submit" ng-disabled="!user.login || !user.password || !user.email"
            class="btn btn-lg btn-primary btn-block">Зарегистрироваться
    </button>
    <a href="login.html" class="btn btn-lg btn-primary btn-block">Отмена</a>
</form>

</body>
</html>