<form class="todo-form" (ngSubmit)="onSubmit(); conditionForm.reset()" #conditionForm="ngForm">
    <div class="justify-group-container">
        <div>
            <label>Состояние номера</label>
            <input type="text" name="name" [(ngModel)]="name" required>
        </div>
    </div>
    <div style="flex-direction: column;display: flex;">
        <button type="submit" [disabled]="conditionForm.form.invalid">Добавить</button>
        <button *ngIf="condition" type="reset" (click)="onReset(); conditionForm.reset()">Отмена</button>
    </div>
</form>