<form class="todo-form" (ngSubmit)="onSubmit(); customersForm.reset()" #customersForm="ngForm">
    <div class="justify-group-container">
        <div>
            <label>Фамилия</label>
            <input type="text" name="surname" [(ngModel)]="surname" required>
        </div>

        <div>
            <label>Имя</label>
            <input type="text" name="name" [(ngModel)]="name" required>
        </div>
        <div>
            <label>Отчество</label>
            <input type="text" name="patronymic" [(ngModel)]="patronymic" required>
        </div>
        <div>
            <label>Серия пасспорта</label>
            <input type="text" name="passportSeries" [(ngModel)]="passportSeries" required>
        </div>
        <div>
            <label>Номер пасспорта</label>
            <input type="number" name="passportId" [(ngModel)]="passportId" required>
        </div>
        <div>
            <label>Эл. почта</label>
            <input type="email" name="email" [(ngModel)]="email" required>
        </div>
        <div>
            <label>Телефон</label>
            <input type="text" name="phone" [(ngModel)]="phone" required>
        </div>
    </div>
    <div style="flex-direction: column;display: flex;">
        <button type="submit" [disabled]="customersForm.form.invalid">Добавить</button>
        <button *ngIf="customer" type="reset" (click)="onReset(); customersForm.reset()">Отмена</button>
    </div>
</form>