<div class="todo-list" *ngIf="rooms.length">
    <div class="search-list">
        <div>Поиск по:</div>
        <select [(ngModel)]="fieldRooms">
            <option *ngFor="let field of fieldRoom" value="{{field.value}}">{{field.name}}</option>
        </select>
        <input type="text" name="filterValue" [(ngModel)]="filterValue">
    </div>
    <rooms-item *ngFor="let room of rooms | myfilter : fieldRooms : filterValue" [room]="room"
                (delete)="onDelete($event)" (update)="onUpdate($event)"></rooms-item>
</div>